.c_background {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
}
.c_background_top{
    width: 100%;
    height: 71.6%;
    background-image: url('../images/background/c_background_top.png');
    background-size: 100% 100%;
}
.c_background_middle{
    width: 100%;
    height: 13.1%;
    background-image: url('../images/background/c_background_middle.png');
    background-size: 100% 100%;
}
.c_background_bottom{
    width: 100%;
    height: 15.3%;
    background-image: url('../images/background/c_background_bottom.png');
    background-size: 100% 100%;
}
.girl {
    background: url('../images/girl.png');
    position: absolute;
    right: 40%;
    top: 37%;
    width: 151px;
    height: 291px;
}
.bridge-bottom {
    position: absolute;
    width: 41%;
    height: 24%;
    left: 29.5%;
    top: 76%;
    overflow: hidden;
    /*    -webkit-transform:perspective(8px) rotateX(.8deg); */
}
.water {
    width: 100%;
    height: 100%;
}

.water_1,
.water_2,
.water_3,
.water_4 {
    width: 100%;
    position: absolute;
    height: 50%;
    -webkit-animation:shake 40s alternate linear infinite;
            animation:shake 40s alternate linear infinite;
}
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-30px, 0px, 0);
                transform: translate3d(-30px, 0px, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(30px, 0px, 0);
                transform: translate3d(30px, 0px, 0);
    }
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-30px, 0px, 0);
                transform: translate3d(-30px, 0px, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(30px, 0px, 0);
                transform: translate3d(30px, 0px, 0);
    }
}

.water_1 {
    width: 131px;
    height: 15px;
    top: 13%;
    left: 35%;
    background: url('../images/water.png') -261px -0px no-repeat;
}

.water_2 {
    width: 161px;
    height: 9px;
    top: 30%;
    left: 45%;
    background: url('../images/water.png') -693px -0px no-repeat;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}

.water_3 {
    width: 261px;
    height: 29px;
    top: 50%;
    left: 15%;
    background: url('../images/water.png') -0px -0px no-repeat;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

.water_4 {
    width: 301px;
    height: 12px;
    top: 75%;
    left: 30%;
    background: url('../images/water.png') -392px -0px no-repeat;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}

.stars {
    width: 100%;
    height: 100%;
    position: absolute;
}

.stars > li {
    position: absolute;
    width: 30px;
    height: 31px;
    background-image: url('../images/stars.png');
    -webkit-animation: flash 5s ease-in-out infinite alternate;
            animation: flash 5s ease-in-out infinite alternate;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.stars1 {
    top: 20%;
    left: 30%;
}

.stars2 {
    top: 15%;
    left: 20%;
    -webkit-animation-delay:1s!important;
            animation-delay:1s!important;
}

.stars3 {
    top: 25%;
    left: 85%;
    -webkit-animation-delay:2s!important;
            animation-delay:2s!important;
}

.stars4 {
    top: 30%;
    left: 70%;
    -webkit-animation-delay:3s!important;
            animation-delay:3s!important;
}

.stars5 {
    top: 25%;
    left: 20%;
    -webkit-animation-delay:1s!important;
            animation-delay:1s!important;
}

.stars6 {
    top: 10%;
    left: 65%;
    -webkit-animation-delay:2s!important;
            animation-delay:2s!important;
}
.girl-rotate{
    -webkit-animation: girl-rotate 850ms 1 step-start forwards;
            animation: girl-rotate 850ms 1 step-start forwards;
}
@-webkit-keyframes girl-rotate {
    0% {
        background-position: -604px -0px;
    }
    16.7% {
        background-position: -151px -0px;
    }
    33.4% {
        background-position: -906px -0px;
    }
    50.1% {
        background-position: -0px -0px;
    }
    66.8% {
        background-position: -302px -0px;
    }
    83.5% {
        background-position: -453px -0px;
    }
    100% {
        background-position: -604px -0px;
    }
}
@keyframes girl-rotate {
    0% {
        background-position: -604px -0px;
    }
    16.7% {
        background-position: -151px -0px;
    }
    33.4% {
        background-position: -906px -0px;
    }
    50.1% {
        background-position: -0px -0px;
    }
    66.8% {
        background-position: -302px -0px;
    }
    83.5% {
        background-position: -453px -0px;
    }
    100% {
        background-position: -604px -0px;
    }
}

.logo {
    width: 185px;
    height: 81px;
    background-image: url('../images/logo.png');
    z-index: 999999;
    position: absolute;
    left: 50%;
    margin-left: -92.5px;
    top: 30px;
    display: none;
}
.logolightSpeedIn{
    display: block;
    -webkit-animation: lightSpeedIn ease-out 1s;
            animation: lightSpeedIn ease-out 1s
}
@-webkit-keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        -webkit-transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: skewX(-5deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: none;
        opacity: 1;
    }
}
@keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        -webkit-transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: skewX(-5deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: none;
        opacity: 1;
    }
}
.logoshake{
    -webkit-animation: logoshake 0.5s;
            animation: logoshake 0.5s;
}
@-webkit-keyframes logoshake {
    0%, 100% {
        -moz-transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translate3d(-5px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -moz-transform: translate3d(10px, 0, 0);
    }
}
@keyframes logoshake {
    0%, 100% {
        -moz-transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translate3d(-5px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -moz-transform: translate3d(10px, 0, 0);
    }
}

#snowflake {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.snowRoll{
    position: absolute;
    opacity: 0;
    height:80px;
    -webkit-animation:mysnow 20s;
            animation:mysnow 20s;
}
@-webkit-keyframes mysnow {
    0% {
        bottom: 100%;
    }
    50% {
        -webkit-transform: rotate(1080deg);
    }
    100% {
        -webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
    }
}
@keyframes mysnow {
    0% {
        bottom: 100%;
    }
    50% {
        -webkit-transform: rotate(1080deg);
    }
    100% {
        -webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
    }
}
