#content{
    width:100%;
    height:100%;
    position: absolute;
    overflow: hidden;
}
.content-wrap{
    position: relative;
}
.content-wrap > li{
    float:left;
    overflow: hidden;
    position: relative;
}
.charactor{
    width: 151px;
    height: 291px;
    background: url(../images/boy.png) -0px -291px no-repeat;
    position: absolute;
    left: 6%;
    top: 55%;
}
.button{
    position: absolute;
    bottom:0;
}
button{
    width:100px;
    height:50px;
}
.slowWalk{
    -webkit-animation: person-slow 950ms infinite steps(1, start);
            animation: person-slow 950ms infinite steps(1, start);
}
/*普通慢走*/
@-webkit-keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}
@keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}
.slowFlowerWalk{
    -webkit-animation: person-flower-slow 950ms infinite step-start;
            animation: person-flower-slow 950ms infinite step-start;
}
/*带花慢走*/
@-webkit-keyframes person-flower-slow {
    0% {
       background-position: -453px -0px;
   }
   25% {
       background-position: -904px -0px;
   }
   50% {
       background-position: -451px -0px;
   }
   75% {
       background-position: -753px -0px;
   }
   100% {
       background-position: -300px -0px;
   }
}
@keyframes person-flower-slow {
    0% {
       background-position: -453px -0px;
   }
   25% {
       background-position: -904px -0px;
   }
   50% {
       background-position: -451px -0px;
   }
   75% {
       background-position: -753px -0px;
   }
   100% {
       background-position: -300px -0px;
   }
}
.pauseWalk{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

.boyOriginal {
   background-position: -150px -0px;
}

.boy-rotate{
    -webkit-animation:boy-rotate 850ms 1 step-start forwards;
            animation:boy-rotate 850ms 1 step-start forwards;
}
@-webkit-keyframes boy-rotate {
    0% {
       background-position: -603px -291px;
   }
   16.7% {
       background-position: -150px -0px;
   }
   33.4% {
       background-position: -453px -291px;
   }
   50.1% {
       background-position: -0px -0px;
   }
   66.8% {
       background-position: -903px -291px;
   }
   83.5% {
       background-position: -753px -291px;
   }
   100% {
       background-position: -603px -291px;
   }
}
@keyframes boy-rotate {
    0% {
       background-position: -603px -291px;
   }
   16.7% {
       background-position: -150px -0px;
   }
   33.4% {
       background-position: -453px -291px;
   }
   50.1% {
       background-position: -0px -0px;
   }
   66.8% {
       background-position: -903px -291px;
   }
   83.5% {
       background-position: -753px -291px;
   }
   100% {
       background-position: -603px -291px;
   }
}
