.slide-main{
	width:550px;
	height:270px;
	position: relative;
	margin:100px auto;
}
.slide-main .slide-btn{
	width:100px;
	height:270px;
	position: absolute;
	top:0;
	cursor: pointer;
}
.slide-main .slide-prev-btn{
	left:0;
	background: url(../image/prev.png) no-repeat center center;
}
.slide-main .slide-next-btn{
	right:0;
	background: url(../image/next.png) no-repeat center center;
}
.slide-main .slide-list{
	width:500px;
	height:270px;
}
.slide-main .slide-list .slide-item{
	position: absolute;
	left:0;
	top:0;
}
.slide-main img,.slide-main a{
	display: block;
}