body{
    font-family: "Microsolft Yahei";
    background: #f0f0f2;
    text-align: center;
}
header{
    padding:1rem;
    background: #f8f8f8;
}
header h1{
    font-size: 1.8rem;
    color:#000;
}
.message{
    margin-top:2rem;
    font-size: 1.6rem;
}
.operator-wrapper{
    width:100%;
    position: absolute;
    bottom:0;
    margin: 2rem 0;
    font-size: 1rem;
}
.operator-item{
    margin-top: 1.5rem;
}
.operator-item input[type="radio"]{
    width:1.2rem;
    height:1.2rem;
    margin-right: 20px;
}
